<% flash.each do |key, value| %>
  <div id='flash-cnt' class="alert alert-<%= key %>">
    <span class="close">×</span>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>